* {
  background-color: whitesmoke;
}

.button-without-border {
  padding: 2px;
  border: none;
  background: none;
}
.submit-button-without-border {
  padding: 15px;
  border: none;
  background-color: lightgreen;
}

.but {
  color: blue;
}

h3 {
  margin-left: 15px;
}
.fileInput {
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 400px;
  width: 250px;
}
img {
  width: 100%;
  height: 100%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.centerText {
  text-align: center;
  width: 500px;
}
